SECRET_KEY=your-custom-secret-key-here
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

DB_ENGINE=django.db.backends.postgresql
DB_NAME=delivery_db
DB_USER=delivery_user
DB_PASSWORD=delivery_pass_2026
DB_HOST=db
DB_PORT=5432